@media (max-width: $breakpoint-sm){
    .menuP{
        display: none;
    }

    .imagen{
        display: none;
    }

    .slider1{
        text-align: center;
    }

    h5{
        font-size: 25px;
    }

    .contenedor{
        display: none;
    }

}