#footer{
    background-color:$black;
}
.footer2{
    padding-top: 7.5%;
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10%;
}

.color2{
    color: $yellow;
}

.text3{
    color: $caja;
}

#barra{
    max-width: 56%;
    padding:12px 0 ;
    border-radius: 5px;

}

#btn{
    background-color: $yellow;
    border: 0;
    max-width: 12%;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 14px;
    margin: 12px;
}

#formulario{
    padding-bottom:8%; 
    padding: 11px;
    margin: 17px;
    
}

.sprite{
    background-image: url(../img/share.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-fb{
    max-width: 55px;
    height: 55px;
    background-position: 0px  -3px;
}

.sprite-t{
    max-width: 55px;
    height: 55px;
    background-position: -65px -3px;
}

.sprite-g{
    max-width: 55px;
    height: 55px;
    background-position: -130px -3px;
}

.sprite-p{
    max-width: 55px;
    height: 55px;
    background-position: -200px -3px;
}

a{
    color: transparent;
}

