#header{
    padding-top: 6%;
    background-color: $yellow;
    
}

.header1{
    max-width: 940px;
    margin: 0 auto;
}

.menu0{
    padding: $cero;
    margin: $cero;
    float: right;
}



.menu{  
    list-style: none;
    display: inline-block;
    font-weight: bold; 
    text-decoration: none;
    margin-left: -35px;
    float: right;
    margin-top: -36px;
}

.menu li{
    display: inline;
}

.menu li + li{
    margin-left: 72px; 
}
.menu a{
    color:$black;
    text-decoration: none;
    font-size: (22px / $fzparem + rem);
}
.imagen{
    float: right;
    margin: 132px;
    position: absolute;
    top: 6em;
    
}

.features{
    margin-left: -23px;
    padding-bottom: 35px;
    padding: 28px;

}