#subFooter{
    background-color: $black;
    margin-top: -11%;
}

.sub3{
    max-width: 940px;
    margin: 0 auto;
    margin-right: 155px;
 
}

.menu3{
    padding: 0;
    margin: 0;
    color:$white;
    list-style: none;
    position: absolute;
}

.subF1{
    position: relative;
    width: 21%;
    padding-right: 12%;
    display: inline-block;
    padding-bottom: 15%;
}

.subF2{
    position: relative;
    width: 7%;
    padding-right: 8%;
    display: inline-block;
    padding-bottom: 15%;
}
